#asdnav{
  padding-right: 50px;
  padding-left: 85px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(225, 225, 231);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
}


#banner{
	font-size: 23px;
	color: #100F0F;
	font: bold;
}

#tabs{
	font-size: 18px;
}

li{
	color: color: #4A3C3C;
}

#hp{
	background-image: url('sky.jpg');
	background-size: cover;
	width: 100%;
	height: 500px;
}

#sWorld{
	  padding-top: 175px;
  color: white;
  padding-left: 200px;
  font-size: 21px;
}

.avatar{
	text-align: center;
	padding-top: 30px;
}

.box{

	padding: 10px;
  margin: 23px 0px 0 0px;
}